/**
 * @author sunmingzhang | darcymzsun@sina.com
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
figure,
form,
fieldset,
legend,
button,
input,
textarea,
select th,
td {
  margin: 0;
  padding: 0;
}
.main{
	height: 500px;
	line-height: 500px;
	background-color: #dfdfdf;
	text-align: center;
}